<div style="margin: 2%;">
    <h2 class="float-start">Modifica Attore</h2>
    <button class="btn btn-dark float-end" type="submit" (click)="showAndHideAlert()">Elimina Attore</button>
  </div>
  
  <!-- Alert -->
  <div class="container float-start" style="margin: 2%;" *ngIf="isAlertShowing">
    <div class="alert alert-danger" role="alert">
      <p>Vuoi confermare l'eliminazione di questo attore?</p>
      <button (click)="deleteActor()">Si</button>
      <button (click)="showAndHideAlert()">No</button>
    </div>
  </div>
  
  <div class="container float-start" style="margin: 2%;">
      <form class="row g-3">
  
          <!-- Nome -->
          <div class="col-md-6">
            <label for="firstname" class="form-label">Nome</label>
            <input type="text" class="form-control" id="firstname" [(ngModel)]="firstname" name="firstname">
          </div>
  
          <!-- Cognome -->
          <div class="col-md-6">
            <label for="lastname" class="form-label">Cognome</label>
            <input type="text" class="form-control" id="lastname" [(ngModel)]="lastname" name="lastname">
          </div>
  
          <!-- Data di Nascita -->
          <div class="col-md-6">
              <label for="birthdate" class="form-label">Data di Nascita</label>
              <input type="date" class="form-control" id="birthdate" [(ngModel)]="birthdate" name="birthdate">
          </div>
  
        <!-- URL Foto -->
        <div class="col">
          <label for="photo_url" class="form-label">URL Foto</label>
          <input type="text" class="form-control" id="cover_url" [(ngModel)]="photo_url" name="photo_url">
        </div> <br>
  
        <!-- Foto se presente -->
        <div class="container">
          <div class="card col">
            <img
            [src]="
             photo_url||
              'https://raw.githubusercontent.com/julien-gargot/images-placeholder/master/placeholder-portrait.png'"
              height="400px" width="250px"
              class="img-thumbnail mb-3 rounded"
          />
          </div>
        </div>
  
        <!-- Modifica Film  -->
          <div class="col-12">
            <button type="submit" class="btn btn-secondary" (click)="editActor()">Modifica</button>
          </div>
        </form>
  </div>
